.top-nav{
    background-color: darkslategrey;
    flex: auto;
    align-self: auto;

    opacity: 80%
}
/*.nav-btn{*/

/*}*/
/*.nav-link{*/
/*    color: white;*/

/*;*/
/*    -webkit-text-stroke: thin*/
/*black;*/
/*font-size: larger}*/